@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared styles */
:root {
    --gradient-bg-color: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    --text-color: white;
    --btn-secondary: #00FF88;
}

.bg-color {
    background-color: #1A0B2E;
    opacity: 100%;
}

.wave {
    background: var(--gradient-bg-color);
    color: transparent;
    background-clip: text;

}

.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.display-flex {
    display: flex;
}

.btn-primary {
    border-radius: 100px;
    background: var(--gradient-bg-color);
    color: var(--text-color);
    padding: 12px 16px 12px 16px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
}

/* navbar styles */
header {

    border-bottom: 1px solid gray;
}

.navbar {
    justify-content: space-around;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar ul {
    display: flex;
    gap: 32px;
}

.techwave {
    color: var(--text-color);
}

.nav-item {
    font-size: 1rem;
    font-weight: 500;
}

.nav-menu {
    display: none;
}

/* banner styles */
.banner {
    background-image: url('../assets/hero-bg.png');
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-contant {
    padding: 40px;
    margin: 60px 0 100px 0;
    text-align: center;
}

.new {
    font-weight: 600;
    font-size: 1.25rem;
    padding: 8px 16px;
    border-radius: 100px;
    background-color: #00FF88;
    position: relative;
    top: 250px;
    left: 150px;
}

.microphone {
    position: relative;
    top: 250px;
}

.banner-img-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 330px;
    height: 330px;
    margin-bottom: 40px;
}

.banner-title {
    font-weight: 800;
    font-size: 3.75rem;
    color: var(--text-color);
    margin-bottom: 8px;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 24px;
}

.btn-box {
    justify-content: center;
    gap: 8px;
}

.spotify-btn {
    border-radius: 100px;
    background: var(--gradient-bg-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    padding: 12px 20px 12px 20px;
}

.btn-secondary {
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    border-radius: 100px;
    border: 1px solid #00FF88;
    color: var(--btn-secondary);
}

/* about styles */

.about {
    text-align: center;
}

.about-contant {
    max-width: 1200px;
    margin: 0 auto;
}

.about-title {
    padding-top: 50px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 3rem;
    color: var(--text-color);
}

.about-description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    padding-bottom: 80px;
    border-bottom: 1px solid gray;
    margin-bottom: 80px;
}

.about-item-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.about-item-title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--btn-secondary);
}

.about-item-description {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 16px;
    color: var(--text-color);
}

/* feature episodes */
.feature-title {
    text-align: center;
    font-weight: 700;
    color: var(--text-color);
    font-size: 3rem;
    padding: 120px;
}

.feature-card-container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.feature-card {
    max-width: 380px;
}

.img-box {
    width: 380px;
}

.img-box>img {
    border-radius: 24px 24px 0px 0px;
    width: 100%;

}

.feature-card-contant {
    padding: 24px;
    border-radius: 0px 0px 24px 24px;
    background: rgba(37, 13, 68, 1);
    margin-bottom: 120px;
}

.feature-card-title {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-color);
}

.feature-card-description {
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    padding-top: 12px;
    padding-bottom: 12px;
}

.clock {
    color: var(--btn-secondary);
    padding-left: 2px;
}

/* meet the host styles */
.meet {
    padding-bottom: 120px;
}

.host {
    color: var(--text-color);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 40px;
}

.host-container {
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 40px;
    background: rgba(37, 13, 68, 1);
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: 0 auto;
}

.host-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    padding-bottom: 16px;
}

.host-description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    padding-bottom: 16px;
}

.host-icon {
    box-sizing: border-box;
    border: 1px solid rgba(83, 60, 114, 1);
    padding: 10px;
    border-radius: 100%;
    margin-right: 10px;
}

/* footer styles */
footer {
    background-image: url('../assets/footer-bg.png');
    padding: 120px 0 230px 0;
    text-align: center;
}

#footer-title {
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 32px;
}

.footer-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.icon {
    justify-content: center;
    align-items: center;
}

.footer-description {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    padding-top: 34px;
}

/* responsive design for mobile device*/
@media screen and (max-width:576px) {
    .nav-menu {
        display: block;

    }

    .nav-item,
    .btn-primary {
        display: none;
    }

    /* about */
    .about-item-box,
    .footer-icon {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-item,
    .icon {
        margin: 20px;
    }

    /* feature */
    .feature-card-container {
        flex-direction: column;
        align-items: center;
    }

    .feature-title {
        font-size: 2rem;
    }

    .feature-title {
        padding: 20px;
    }

    /* host */
    .host-container {
        flex-direction: column;
    }

    .host-contant,
    .icon {
        text-align: center;
    }
}

/* responsive design for tablet device */
@media screen and (min-width:576px) and (max-width:992px) {
    .feature-card-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}